<template>
  <div>
    <v-progress-linear
        v-if="getterLoading"
        indeterminate
        color="cyan"
    ></v-progress-linear>
    <v-container v-else>
      <v-card>
        <v-card-title>
          ການຈອງຫ້ອງພັກ
          <v-spacer></v-spacer>
          <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="ຄົ້ນຫາ"
              outlined
              dense
          ></v-text-field>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>

          <NuxtLink class="text-decoration-none" to="/room/add_room"
          >
            <v-btn class="mx-2 mb-2" small fab dark color="primary">
              <v-icon dark> mdi-plus</v-icon>
            </v-btn>
          </NuxtLink
          >
          <v-data-table
              :headers="headers"
              :items="getterBooking"
              :items-per-page="5"
              class="elevation-1"
              :search="search"
          >

<!--            <template #[`item.customer`]="{ item }">-->
<!--              {{ item.customer.fullname }}-->
<!--            </template>-->
            <template #[`item.price`]="{ item }">
              {{ item.price  | numFormat('0,00') }}
            </template>
            <template #[`item.actions`]="{ item }">
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="grey"
                  @click="onView(item.id)"
              >
                <v-icon dark>
                  mdi-eye
                </v-icon>
              </v-btn>
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="green"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>

              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="error"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name:'index',
  data() {
    return {
      search:'',
      headers: [
        {
          text: 'ລະຫັດການຈອງ',
          value: 'id'
        },
        {
          text: 'ລູກຄ້າ',
          value: 'customer.fullname'
        },
        // {
        //   text: 'ຫ້ອງ',
        //   value: 'room'
        // },

        {
          text: 'ຈອງແຕ່ວັນທີ',
          value: 'booking_from'
        },
        {
          text: 'ຫາວັນທີ',
          value: 'booking_to'
        },
        {
          text: 'ສະຖານະ',
          value: 'status'
        },
        {
          text: 'ຈັດການ',
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      getterBooking: 'booking/GETTER_BOOKING',
      getterLoading: 'booking/GETTER_LOAD'
    })
  },

  created() {
    this.fetchBooking()
  },

  methods: {
    ...mapActions({
      fetchBooking: 'booking/FETCH_BOOKING'
    }),

    onEdit(id) {
      console.log('edit:', id)
    },

    onView(id) {
      this.$router.push({ path: 'room/view_room', query: { id } })
    }

  }
}
</script>

<style></style>
