<template>
  <div>
    <v-container>

      <v-card>
        <v-card-title>ເພິ່ມຂໍ້ມູນພະນັກງານ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSaveEmployee()">
            <v-row>
              <v-col cols="6">
                <!-- <h3>{{ employee }}</h3> -->
                <v-select
                    v-model="employee.title"
                    :items="titles"
                    label="ຄຳນຳໜ້າ"
                    outlined
                    dense
                ></v-select>

                <v-text-field
                    v-model="employee.firstname"
                    label="ຊື່"
                    placeholder="ກະລຸນາປ້ອນຊື່"
                    outlined
                    dense
                ></v-text-field>

                <v-text-field
                    v-model="employee.tel"
                    label="ເບີໂທ"
                    placeholder="ກະລຸນາປ້ອນເບີໂທ"
                    outlined
                    dense
                ></v-text-field>

                <v-text-field
                    v-model="employee.email"
                    label="ອິເມວ"
                    placeholder="ກະລຸນາປ້ອນອິເມວ"
                    outlined
                    dense
                ></v-text-field>

                   <v-text-field
                    v-model="employee.username"
                    label="ຊື່ຜູ້ໃຊ້"
                    placeholder="ກະລຸນາປ້ອນຊື່ຜູ້ໃຊ້"
                    outlined
                    dense
                ></v-text-field>

                <!-- <v-text-field
                    v-model="employee.password"
                    label="ລະຫັດຜ່ານ"
                    placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານ"
                    outlined
                    dense
                ></v-text-field> -->

                <v-text-field
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    label="ລະຫັດຜ່ານ"
                    outlined
                    dense
                    @click:append="show1 = !show1"
                ></v-text-field>

              </v-col>

              <v-col cols="6">
                <v-text-field
                    v-model="employee.nickname"
                    label="ຊື່ຫຼີ້ນ"
                    placeholder="ກະລຸນາປ້ອນຊື່ຫຼີ້ນ"
                    outlined
                    dense
                ></v-text-field>

                <v-text-field
                    v-model="employee.lastname"
                    label="ນາມສະກຸນ"
                    placeholder="ກະລຸນາປ້ອນນາມສະກຸນ"
                    outlined
                    dense
                ></v-text-field>

                                <v-menu
                    v-model='menu'
                    :close-on-content-click='false'
                    transition='scale-transition'
                    offset-y
                    max-width='290px'
                    min-width='auto'
                >
                  <template #activator='{ on, attrs }'>
                    <v-text-field
                        v-model='employee.birth_date'
                        hide-details
                        outlined
                        dense
                        class="rounded-lg"
                        height="40"
                        v-bind='attrs'
                        v-on='on'
                    >
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2">mdi-calendar</v-icon>
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                      v-model='employee.birth_date'
                      no-title
                      @input='menu = false'
                  />
                </v-menu>
                <v-textarea class="mt-6"
                    v-model="employee.address"
                    label="ທີ່ຢູ່"
                    placeholder="ກະລຸນາປ້ອນທີ່ຢູ່"
                    outlined
                    dense
                ></v-textarea>
              </v-col>
            </v-row>

            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import API_URL from '@/helper/API_URL'
export default {
  data() {
    return {
      menu:"",
      titles: ['ທ້າວ', 'ນາງ'],

      employee: {
        title: '',
        nickname: '',
        firstname: '',
        lastname: '',
        tel: '',
        email: '',
        address: '',
        birth_date: new Date().toISOString().substr(0, 10),
        username: '',
        password: '',

      },

 
    }
  },

  methods: {
    async onSaveEmployee() {
     try {
        const res = await this.$axios.post(API_URL.API_ADD_EMPLOYEE, {
          title: this.employee.title,
          firstname: this.employee.firstname,
          lastname: this.employee.lastname,
          nickname: this.employee.nickname,
          address: this.employee.address,
          birth_date : this.$moment(this.employee.birth_date).format('YYYY-MM-DD'),
          tel: this.employee.tel,
          email: this.employee.email,
          username: this.employee.username,
          password: this.employee.password,
        })
        alert(res.data.message)


        
        // console.log('++++++++++++++++++++', this.employee.birth_date)

        this.$router.push('/employee')
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style></style>
