<template>
  <div>
    <v-progress-linear
        v-if="getterLoading"
        indeterminate
        color="cyan"
    ></v-progress-linear>
    <v-container v-else>

      <v-card>
        <v-card-title>
          <v-btn @click="goToPrev()" class="mx-2 mb-2" small fab dark color="primary">
            <v-icon dark> mdi-arrow-left-thin</v-icon>
          </v-btn>
          ຂໍ້ມູນພະນັກງານ
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row>
            <v-col cols="12" lg="2" md="2" sm="6">
              ລະຫັດພະນັກງານ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ paramId }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ຊື່ ແລະ ນາມສະກຸນ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterEmployeeInfo.title }}  {{ getterEmployeeInfo.firstname }}  {{ getterEmployeeInfo.lastname }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ທີ່ຢູ່:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterEmployeeInfo.address }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ວັນເດືອນປີ ເກີດ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterEmployeeInfo.birth_date }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">

              ເບີໂທ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterEmployeeInfo.tel }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ອີເມລ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterEmployeeInfo.email }}
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ViewRoom',
  //ປະກາດຕົວປ່ຽນ
  data() {
    return {
      paramId: this.$route.query.id
    }
  },

  computed: {
    ...mapGetters({
      getterEmployeeInfo: 'employee/GETTER_EMPLOYEE_INFO',
      getterLoading: 'employee/GETTER_LOADING'
    })
  },


  //ປະກາດຟ້ອມໂຫຼດ
  created() {
    this.fetchEmployeeInfo(this.$route.query.id)
  },



  //ປະກາດ funtion
  methods: {
    ...mapActions({
      fetchEmployeeInfo: 'employee/FETCH_EMPLOYEE_INFO'
    }),


    goToPrev() {
      this.$router.go(-1)
    }


  }


}
</script>

<style scoped>

</style>
