<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>
          ຈັດການຂໍ້ມູນພະນັກງານ
          <v-spacer></v-spacer>
          <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="ຄົ້ນຫາ"
              outlined
              dense
          ></v-text-field>

        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <NuxtLink class="text-decoration-none" to="/employee/add_employee"
          >
            <v-btn class="mx-2 mb-2" small fab dark color="green">
              <v-icon dark> mdi-plus</v-icon>
            </v-btn>
          </NuxtLink
          >
          <v-data-table
              :headers="headers"
              :items="getterEmployee"
              :items-per-page="5"
              class="elevation-1"
              :search="search"
          >
            <template #[`item.gender`]="{ item }">
              <span v-if="item.gender=='m'">ທ້າວ</span>
              <span v-else>ນາງ</span>
            </template>

            <template #[`item.actions`]="{ item }">
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="grey"
                  @click="onView(item.id)"
              >
                <v-icon dark>
                  mdi-eye
                </v-icon>
              </v-btn>
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="green"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>

              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="error"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>



    </v-container>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      search:'',
      headers: [

        {
          text: "ລຳດັບ",
          value: "id",
        },
        {
          text: "ຄຳນຳໜ້າ",
          value: "title",
        },
        {
          text: "ຊື່",
          value: "firstname",
        },
        {
          text: "ນາມສະກຸນນ",
          value: "lastname",
        },
        {
          text: "ເບີໂທ",
          value: "tel",
        },
        {
          text: "action",
          value: "actions",
        },
      ],
    };
  },

  computed: {
    ...mapGetters({
      getterEmployee: 'employee/GETTER_EMPLOYEE'
    })
  },
   created() {
       this.fetchEmployee()
   },

    methods: {
      ...mapActions({
        fetchEmployee: 'employee/FETCH_EMPLOYEE'
      }),

      onEdit(id) {
        this.$router.push({ path: 'employee/edit_employee', query: { id } })
      },

      onView(id){
        this.$router.push({ path: 'employee/employee_detail', query: { id } })
      }
    },
};
</script>

<style></style>
