<template>
  <div>
    <v-container>
      <v-row>
        <v-col col="4" lg="6">
          <v-card>
            <v-card-title> ເຂົ້າສູ່ລະບົບ </v-card-title>
            <v-divider />
            <v-card-text>
              <v-row>
                <v-col md="3">ຊື່ຜູ້ເຂົ້າໃຊ້:</v-col>
                <v-col md="9">
                  <v-text-field
                      v-model="userInfo.username"
                      label="ຊື່ຜູ້ເຂົ້າໃຊ້"
                      placeholder="ກະລຸນາປ້ອນຊື່ຜູ້ເຂົ້າໃຊ້"
                      outlined
                      dense
                  ></v-text-field
                  ></v-col>
              </v-row>
              <v-row>
                <v-col md="3">ລະຫັດຜ່ານ:</v-col>
                <v-col md="9">
                  <v-text-field
                      v-model="userInfo.password"
                      label="ລະຫັດຜ່ານ"
                      placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານ"
                      outlined
                      dense
                  ></v-text-field
                  ></v-col>
              </v-row>
              <v-row>
                <v-col offset="3" md="9"><v-btn color="primary">ເຂົ້າສູ່ລະບົບ</v-btn></v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

    </v-container>

  </div>
</template>

<script>
export default {
  layout:"empty",
  data() {
    return {
      userInfo: {
        username: '',
        password: '',
      },
    }
  },
}
</script>

<style></style>
