
<template>
  <div>
    <v-container>


      <v-btn @click="onPrint()" color="primary" type="submit">
        <v-icon class="mr-1">  mdi-printer-outline</v-icon>
        ພິມ
      </v-btn>
      <br>
      <br>

      <v-card id="printInfo" ref="printInfo">
        <v-card-title>

        </v-card-title>
        <v-card-text>
          <h2 style="text-align: center">ລາຍງານຂໍ້ມູນພະນັກງານ</h2>
          <br>
          <br>
          <h3>ຈຳນວນທັງໝົດ: {{getterEmployee.length}} ຄົນ</h3>
          <table>
            <thead>
            <tr>
              <th>ຊື່ ແລະ ນາມສະກຸນ</th>
              <th>ຊື່ຫຼິ້ນ</th>
              <th>ບ່ອນຢູ່</th>
              <th>ວັນເດືອນປີເກີດ</th>
              <th>ເບີໂທ</th>
              <th>ອີເມລ</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in getterEmployee" :key="index">
              <td> {{ item.title }} {{ item.firstname }} {{ item.lastname }}</td>
              <td>{{ item.nickname }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.birth_date }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.email }}</td>
            </tr>
            </tbody>
          </table>
        </v-card-text>

      </v-card>

    </v-container>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  computed: {
    ...mapGetters({
      getterEmployee: 'employee/GETTER_EMPLOYEE'
    })
  },

  created() {
    this.fetchEmployee()

  },
  methods: {
    ...mapActions({
      fetchEmployee: 'employee/FETCH_EMPLOYEE'
    }),

    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    }

  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>