<template>
  <div>
    <v-row>
      <v-col md="7">
        <v-card elevation="2">
          <v-card-title>
            <v-row>
              <v-col md="10"><v-btn fab color="primary">No. 01</v-btn> ລອງ(14/02/2022 - 15/02/2022) </v-col>
              <v-col md="2"> 5000 </v-col>
            </v-row>
          </v-card-title>

          <v-card-text>
            <v-simple-table dense class="mt-1">
              <tbody>
                <!-- <tr>
                  <td width="15%">ຫ້ອງ</td>
                  <td>ເບີ 9</td>
                </tr> -->
                <!-- <tr>
                  <td>ແຕ່ວັນທີ</td>
                  <td>ຫາວັນທີ</td>
                </tr> -->
                <tr>
                  <td width="15%">ສະຖານະ</td>
                  <td><v-chip color="success">ຫາວັນທີ </v-chip></td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-card-text>
        </v-card></v-col
      >
    </v-row>
  </div>
</template>

<script>
export default {
  layout: "customer",
};
</script>

<style></style>
