<template>
  <div>


    <v-row class="ma-10">
      <v-col md="8">
        <v-row>
          <v-col md="12">

            <v-card>
              <v-card-title>
                ຊອກຫາຫ້ອງພັກ
                <v-spacer></v-spacer>
                <v-row>
                  <v-col md="5">
                    <v-menu
                        v-model='menu'
                        :close-on-content-click='false'
                        transition='scale-transition'
                        offset-y
                        max-width='290px'
                        min-width='auto'
                    >
                      <template #activator='{ on, attrs }'>
                        <v-text-field
                            v-model='startDate'
                            hide-details
                            outlined
                            dense
                            class="rounded-lg"
                            height="40"
                            v-bind='attrs'
                            v-on='on'
                        >
                          <template v-slot:prepend-inner>
                            <v-icon class="mr-2">mdi-calendar</v-icon>
                          </template>
                        </v-text-field>
                      </template>
                      <v-date-picker
                          v-model='startDate'
                          no-title
                          @input='menu = false'
                      />
                    </v-menu>
                  </v-col>
                  <v-col md="5">
                    <v-menu
                        v-model='menu2'
                        :close-on-content-click='false'
                        transition='scale-transition'
                        offset-y
                        max-width='290px'
                        min-width='auto'
                    >
                      <template #activator='{ on, attrs }'>
                        <v-text-field
                            v-model='endDate'
                            hide-details
                            outlined
                            dense
                            class="rounded-lg"
                            height="40"
                            v-bind='attrs'
                            v-on='on'
                        >
                          <template v-slot:prepend-inner>
                            <v-icon class="mr-2">mdi-calendar</v-icon>
                          </template>
                        </v-text-field>
                      </template>
                      <v-date-picker
                          v-model='endDate'
                          no-title
                          @input='menu2 = false'
                      />
                    </v-menu>
                  </v-col>
                  <v-col md="2">
                    <v-btn fab small color="primary"><v-icon>mdi-magnify</v-icon></v-btn>
                  </v-col>
                </v-row>

              </v-card-title>

            </v-card>
          </v-col>
          <v-col md="3" v-for="(item, index) in getteRoom" :key="index">

            <v-card
                class=""
                max-width="270"
            >
              <template slot="progress">
                <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
                ></v-progress-linear>
              </template>
                  <img
                      height="250"
                      width="100%"
                      src="~/static/Ss.jpeg"
                  />
<!--              <v-img-->
<!--                  height="150"-->
<!--                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"-->
<!--              ></v-img>-->
              <v-card-text>
                <v-list-item>
                  <h2>{{ item.room }}</h2>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content>ລາຄາ:</v-list-item-content>
                  <v-list-item-content>{{ item.price | numFormat("0,00")}} ₭</v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content><v-btn @click="addToBooking(item)" color="primary">ເພິ່ມໃນລາຍການຈອງ</v-btn></v-list-item-content>
                </v-list-item>
              </v-card-text>

            </v-card>
          </v-col>


        </v-row>


      </v-col>
      <v-col md="4">
        <v-card>
          <v-card-title>ລາຍການທີ່ທ່ານຈອງ 0 ລາຍການ</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
<!--              <table>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th>ລຳດັບ</th>-->
<!--                 -->
<!--                  <th>ຫ້ອງ</th>-->

<!--                  <th>ປະເພດຫ້ອງ</th>-->

<!--                  <th>ລາຄາ</th>-->
<!--                </tr>-->

<!--                </thead>-->
<!--              </table>-->
            <v-list-item>
              <v-list-item-content>ລຳດັບ</v-list-item-content>
              <v-list-item-content>ຫ້ອງ</v-list-item-content>
              <v-list-item-content>ປະເພດຫ້ອງ</v-list-item-content>
              <v-list-item-content>ລາຄາ</v-list-item-content>
              <v-list-item-content>ຈຳນວນ</v-list-item-content>
              <v-list-item-content>ລວມ</v-list-item-content>
            </v-list-item>

<!--            id:roomItem.id,-->
<!--            roomNo:roomItem.room,-->
<!--            typeOfRoom:roomItem.type_of_room,-->
<!--            price:roomItem.price,-->
<!--            day:3-->
            <v-list-item v-for="(item, index) in bookingItems" :key="index">
              <v-list-item-content>{{ index+1 }}</v-list-item-content>
              <v-list-item-content>{{ item.roomNo }}</v-list-item-content>
              <v-list-item-content>{{ item.typeOfRoom}}</v-list-item-content>
              <v-list-item-content>{{ item.price | numFormat("0,00")}} ₭</v-list-item-content>
              <v-list-item-content>{{ item.day}}</v-list-item-content>
              <v-list-item-content>{{ item.total | numFormat("0,00")}} ₭</v-list-item-content>
<!--              <v-list-item-content>{{ item.day * item.price | numFormat("0,00")}} ₭</v-list-item-content>-->

            </v-list-item>
            <v-list-item >
              <v-list-item-content></v-list-item-content>
              <v-list-item-content></v-list-item-content>
              <v-list-item-content></v-list-item-content>
              <v-list-item-content></v-list-item-content>
              <v-list-item-content>ລວມທັງໝົດ</v-list-item-content>
              <v-list-item-content>{{sumTotal(bookingItems)}}</v-list-item-content>

            </v-list-item>
            <v-list-item >
              <v-list-item-content></v-list-item-content>
              <v-list-item-content></v-list-item-content>
              <v-list-item-content></v-list-item-content>
              <v-list-item-content></v-list-item-content>
              <v-list-item-content>ຄ່າມັດຈຳ</v-list-item-content>
              <v-list-item-content></v-list-item-content>

            </v-list-item>


          </v-card-text>
        </v-card>

      </v-col>
    </v-row>


  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  layout: 'customer',
  data() {
    return {
      room: [{ id: 1, room: 'ຫ້ອງເບີ 1' }],
      startDate:new Date().toISOString().substr(0, 10),
      endDate:new Date().toISOString().substr(0, 10),
      menu:"",
      menu2:"",
      bookingItems:[]
    }
  },

  created() {
    this.fetchAllRoom()
  },

  computed: {
    ...mapGetters({
      getteRoom: 'room/GETTER_ROOM',
      getter_loading: 'room/GETTER_LOAD'
    })
  },


  methods: {
    ...mapActions({
      fetchAllRoom: 'room/FETCH_ROOM'
    }),

    onEdit(id) {
      console.log('edit:', id)
    },

    onView(id) {
      this.$router.push({ path: 'room/view_room', query: { id } })
    },

    addToBooking(roomItem){
      // let nowDate = moment();
      // let startDate = moment(this.startDate).format('YYYYMMDD')
      // let endDate = moment(this.endDate).format('YYYYMMDD')
      // let day = moment.duration(startDate.diff(endDate));
      // // let qty = this.startDate - this.endDate
      // console.log('day+++++++++++++',day)
      this.bookingItems.push({
        id:roomItem.id,
        roomNo:roomItem.room,
        typeOfRoom:roomItem.type_of_room,
        price:roomItem.price,
        day:3,
        total: 3 * roomItem.price

      })

      // console.log("Item", roomItem)
    },


    sumTotal(item){
      // let sum=0
      // return Object.values(item).reduce((item){
      //   sum+= item.total, 0
      // })
    }
  }


}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
