<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>ເພິ່ມຂໍ້ມູນຊັບສິນ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSave()">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="asset.asset_name"
                  label="ຊື່ຊັບສິນ"
                  placeholder="ກະລຸນາປ້ອນຊື່ຊັບສິນ"
                  outlined
                  dense
                  :rules="requireRules"
                ></v-text-field>

                <v-text-field
                  v-model="asset.price"
                  label="ລາຄາ"
                  placeholder="ກະລຸນາປ້ອນລາຄາ"
                  outlined
                  dense
                  :rules="requireRules"
                ></v-text-field>
                <v-select
                  v-model="asset.status"
                  :items="['ໃຊ້ງານ', 'ບໍ່ພ້ອມໃຊ້ງານ']"
                  class="rounded-lg"
                  outlined
                  hide-details
                  dense
                >
                </v-select>
                <br />
                <v-select
                  v-model="asset.room_id"
                  :items="getter_room"
                  item-text="room"
                  item-value="id"
                  class="rounded-lg"
                  outlined
                  hide-details
                  dense
                >
                </v-select>

                <br />
              </v-col>
            </v-row>

            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
            <v-btn color="warning" @click="goToPrev()">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ຍົກເລີກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
// import {Swal, Toast} from 'sweetalert2'
import {toastSuccess} from "~/helper/swal"
export default {
  
  name: 'AddAsset',
  data() {
    return {
      selected_type_of_room: 'ແອ',
      asset: {
        asset_name: '',
        price: 0,
        status: '',
        room_id: '',
      },

      show1: false,
      password: 'Password',
      requireRules: [(v) => !!v || 'ກະລຸນາປ້ອນມູນໃຫ້ຄົບຖ້ວນ'],
    }
  },
  created() {
    this.fetchAllRoom()
  },
    computed: {
    ...mapGetters({
      getter_room: 'room/GETTER_ROOM',
      getter_loading: 'room/GETTER_LOAD'
    })
  },

  methods: {
       ...mapActions({
      fetchAllRoom: 'room/FETCH_ROOM'
    }),
    goToPrev() {
      this.$router.go(-1)
    },
    async onSave() {
      try {
        const customer = await this.$axios.post(`/asset/store`, {
          asset_name: this.asset.asset_name,
          price: this.asset.price,
          status: this.asset.status,
          room_id: this.asset.room_id,
        })
        toastSuccess(this.$swal, 'ບັນທຶກຂໍ້ມູນຊັບສິນສຳເລັດ')
        this.$router.push('/asset')
      } catch (error) {
        alert(error)
      }
    },
  },
}
</script>

<style></style>
