<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>ເພິ່ມຂໍ້ມູນຊັບສິນ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSave()">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="asset.asset_name"
                  label="ຊື່ຊັບສິນ"
                  placeholder="ກະລຸນາປ້ອນຊື່ຊັບສິນ"
                  outlined
                  dense
                  :rules="requireRules"
                ></v-text-field>

                <v-text-field
                  v-model="asset.price"
                  label="ລາຄາ"
                  placeholder="ກະລຸນາປ້ອນລາຄາ"
                  outlined
                  dense
                  :rules="requireRules"
                ></v-text-field>
                <v-select
                  v-model="asset.status"
                  :items="['ໃຊ້ງານ', 'ບໍ່ພ້ອມໃຊ້ງານ']"
                  class="rounded-lg"
                  outlined
                  hide-details
                  dense
                >
                </v-select>
                <br />
                <v-select
                  v-model="asset.room_id"
                  :items="getter_room"
                  item-text="room"
                  item-value="id"
                  class="rounded-lg"
                  outlined
                  hide-details
                  dense
                >
                </v-select>

                <br />
              </v-col>
            </v-row>

            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
            <v-btn color="warning" @click="goToPrev()">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ຍົກເລີກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import API_URL from '@/helper/API_URL'
export default {
  created() {
    this.fetchAsset()
  },

  name: 'AddAsset',
  data() {
    return {
      queryId: this.$route.query.id,
      selected_type_of_room: 'ແອ',
      asset: {
        asset_name: '',
        price: 0,
        status: '',
        room_id: '',
      },

      show1: false,
      password: 'Password',
      requireRules: [(v) => !!v || 'ກະລຸນາປ້ອນມູນໃຫ້ຄົບຖ້ວນ'],
    }
  },
  computed: {
    ...mapGetters({
      getterAssetInfo: 'asset/GETTER_ASSET_INFO',
      getterLoading: 'asset/GETTER_LOADING',
      getter_room: 'room/GETTER_ROOM',
    }),
  },

  methods: {
    ...mapActions({
      fetchAssetInfo: 'asset/FETCH_ASSET_INFO',
      fetchAllRoom: 'room/FETCH_ROOM',
    }),
    goToPrev() {
      this.$router.go(-1)
    },
    async fetchAsset() {
      await this.fetchAssetInfo(this.queryId)
      this.asset.asset_name = this.getterAssetInfo.asset_name
      this.asset.price = this.getterAssetInfo.price
      this.asset.status = this.getterAssetInfo.status
      this.asset.room_id = this.getterAssetInfo.room_id
      await this.fetchAllRoom()
    },
    async onSave() {
      try {
        const customer = await this.$axios.post(
          `/asset/update/${this.queryId}`,
          {
            asset_name: this.asset.asset_name,
            price: this.asset.price,
            status: this.asset.status,
            room_id: this.asset.room_id,
          }
        )
        alert(customer.data.message)
        this.$router.push('/asset')
      } catch (error) {
        alert(error)
      }
    },
  },
}
</script>

<style></style>
