<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>
          ຈັດການຂໍ້ມູນຊັບສິນ
          <v-spacer></v-spacer>
          <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="ຄົ້ນຫາ"
              outlined
              dense
          ></v-text-field>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <NuxtLink class="text-decoration-none" to="/asset/add_asset"
          >
            <v-btn class="mx-2 mb-2" small fab dark color="green">
              <v-icon dark> mdi-plus</v-icon>
            </v-btn>
          </NuxtLink
          >

          <v-data-table
              :headers="headers"
              :items="getter_asset"
              :items-per-page="5"
              class="elevation-1"
              :search="search"
          >
            <template #[`item.price`]="{ item }">
              {{ item.price  | numFormat('0,00') }}
            </template>
            <template #[`item.room`]="{ item }">
              {{ item.room.room }}

            </template>
            <template #actions>
              <v-icon small class="mr-2"> mdi-pencil</v-icon>
              <v-icon small> mdi-delete</v-icon>
            </template>
            <template #[`item.actions`]="{ item }">
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="grey"
                  @click="onView(item.id)"
              >
                <v-icon dark>
                  mdi-eye
                </v-icon>
              </v-btn>
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="green"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>

              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="error"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </template>

            <template #[`item.actions`]="{ item }">
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="grey"
                  @click="onView(item.id)"
              >
                <v-icon dark>
                  mdi-eye
                </v-icon>
              </v-btn>
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="green"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>

              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="error"
                  @click="onDelete(item.id)"
              >
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      search:"",
      headers: [

        // {
        //   text: "ລຳດັບ",
        //   value: "id",
        // },
        {
          text: 'ຊື່ຊັບສິນ',
          value: 'asset_name'
        },
        {
          text: 'ລາຄາ',
          value: 'price'
        },
        {
          text: 'ສະຖານະ',
          value: 'status'
        },
        {
          text: 'ຫ້ອງ',
          value: 'room'
        },

        {
          text: 'action',
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      getter_asset: 'asset/GETTER_ASSET'
    })
  },

  created() {
    this.fetchAllAsset()
  },

  methods: {
    ...mapActions({
      fetchAllAsset: 'asset/FETCH_ASSET'
    }),

    onEdit(id) {
        this.$router.push({ path: 'asset/edit_asset', query: { id } })
    },

    onView(id){
      this.$router.push({ path: 'asset/view_asset', query: { id } })
    },
    onDelete(id){
     
    }
  }
}
</script>

<style></style>
