<template>
  <div>
    <v-progress-linear
        v-if="getterLoading"
        indeterminate
        color="cyan"
    ></v-progress-linear>
    <v-container v-else>

      <v-card>
        <v-card-title>
          <v-btn @click="goToPrev()" class="mx-2 mb-2" small fab dark color="primary">
            <v-icon dark> mdi-arrow-left-thin</v-icon>
          </v-btn>
          ລາຍລະອຽດຊັບສິນ
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text >
          <v-row v-if="getterAssetInfo">
            <v-col cols="12" lg="2" md="2" sm="6">
              ລະຫັດຫ້ອງ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ paramId }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ຊື່ຊັບສິນ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterAssetInfo.asset_name }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ມູນຄ່າ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterAssetInfo.price | numFormat('0,00') }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ສະຖານະ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterAssetInfo.status }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">

              ຢູ່ໃນຫ້ອງ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterAssetInfo.room.room }}
            </v-col>
          </v-row>


        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ViewRoom',
  data() {
    return {
      paramId: this.$route.query.id
    }
  },

  computed: {
    ...mapGetters({
      getterAssetInfo: 'asset/GETTER_ASSET_INFO',
      getterLoading: 'asset/GETTER_LOADING',
    })
  },
  created() {
    this.fetchAssetInfo(this.$route.query.id)
  },
  methods: {
    ...mapActions({
      fetchAssetInfo: 'asset/FETCH_ASSET_INFO'
    }),
    goToPrev() {
      this.$router.go(-1)
    }
  }


}
</script>

<style scoped>

</style>
