#app{
    font-family: SF-Pro, NotoSerifLao-VF, Serif !important;
}
* {
    font-family: SF-Pro, NotoSerifLao-VF, Serif !important;
}



@font-face {
    font-family: 'NotoSerifLao-VF';
    src: url("~assets/fonts/NotoSerifLao-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'SF-Pro';
    src: url("~assets/fonts/MavenPro-Medium.ttf") format("opentype");
}

html {
    font-family: "NotoSerifLao-VF";
}