<template>
  <div>
    <v-container>


      <v-btn @click="onPrint()" color="primary" type="submit">
        <v-icon className="mr-1"> mdi-printer-outline</v-icon>
        ພິມ
      </v-btn>
      <br>
      <br>

      <v-card id="printInfo" ref="printInfo">
        <v-card-title>

        </v-card-title>
        <v-card-text>
          <h2 style="text-align: center">ລາຍງານຂໍ້ມູນຊັບສິນ</h2>
          <br>
          <br>
          <table>
            <thead>
            <tr>
              <th>ລະຫັດຊັບສິນ</th>
              <th>ຊື່ຊັບສິນ</th>
              <th>ລາຄາ</th>
              <th>ສະຖານະ</th>
              <th>ຢູ່ຫ້ອງ</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in getter_asset" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.asset_name }}</td>
              <td>{{ item.price | numFormat('0,00')}}</td>
              <td>{{ item.status }}</td>
              <td>{{  item.room.room }} </td>

            </tr>
            </tbody>
          </table>
        </v-card-text>

      </v-card>

    </v-container>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  computed: {
    ...mapGetters({
      getter_asset: 'asset/GETTER_ASSET'
    })
  },

  created() {
    this.fetchAllAsset()

  },
  methods: {
    ...mapActions({
      fetchAllAsset: 'asset/FETCH_ASSET'
    }),
    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    }

  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>