<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>ເພິ່ມຂໍ້ມູນຫ້ອງ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSave()">
            <v-row>
              <v-col cols="12">
                <v-text-field
                    v-model="room.room_number"
                    label="ຫ້ອງເບີ"
                    placeholder="ກະລຸນາປ້ອນເບີຫ້ອງ"
                    outlined
                    dense
                    :rules="requireRules"
                ></v-text-field>

                <v-select
                    v-model="selected_type_of_room"
                    :items="['ແອ', 'ພັດລົມ']"
                    class="rounded-lg"
                    outlined
                    hide-details
                    dense
                >
                  <template #prepend-inner>
                    <v-icon class=" mr-2">mdi-map-marker</v-icon>
                  </template>

                </v-select>

                <br>

                <v-text-field
                    v-model="room.price"
                    label="ລາຄາ"
                    placeholder="ກະລຸນາປ້ອນລາຄາ"
                    outlined
                    dense
                    :rules="requireRules"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
            <v-btn color="warning" @click="goToPrev()">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ຍົກເລີກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>

  </div>
</template>

<script>
export default {
  name: 'AddRoom',
  data() {
    return {

      selected_type_of_room: 'ແອ',
      room: {
        room_number: '',
        type_of_room: '',
        price: 0
      },

      show1: false,
      password: 'Password',
      requireRules: [
        v => !!v || 'ກະລຸນາປ້ອນມູນໃຫ້ຄົບຖ້ວນ',
      ],


    }
  },

  methods: {
    goToPrev() {
      this.$router.go(-1)
    },
    async onSave() {
      try {
        const customer = await this.$axios.post(
          `/room/create`,
          {
            room: this.room.room_number,
            type_of_room: this.selected_type_of_room,
            price: this.room.price
          }
        )
        alert(customer.data.message)
        this.$router.push('/room')
      } catch (error) {
        alert(error)
      }
    }
  }
}
</script>

<style></style>

