<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>ເພິ່ມຂໍ້ມູນຫ້ອງ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSaveRoom()">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="room.room_number"
                  label="ຫ້ອງເບີ"
                  placeholder="ກະລຸນາປ້ອນເບີຫ້ອງ"
                  outlined
                  dense
                  :rules="requireRules"
                ></v-text-field>

                <v-select
                  v-model="room.type_of_room"
                  :items="['ແອ', 'ພັດລົມ']"
                  class="rounded-lg"
                  outlined
                  hide-details
                  dense
                >
                 
                </v-select>

                <br />

                <v-text-field
                  v-model="room.price"
                  label="ລາຄາ"
                  placeholder="ກະລຸນາປ້ອນລາຄາ"
                  outlined
                  dense
                  :rules="requireRules"
                ></v-text-field>

                <!-- <v-text-field
                    v-model="room.room_status"
                    label="ສະຖານນະ"
                    placeholder="ກະລຸນາເລືອກສະຖານະ"
                    outlined
                    dense
                    :rules="requireRules"
                ></v-text-field> -->

                <v-select
                  v-model="room.room_status"
                  :items="['ຫວ່າງ', 'ບໍ່ຫວ່າງ']"
                  class="rounded-lg"
                  outlined
                  hide-details
                  dense
                >
                 
                </v-select>
              </v-col>
            </v-row>
            <br />
            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
            <v-btn color="warning" @click="goToPrev()">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ຍົກເລີກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import API_URL from '@/helper/API_URL'
export default {
  created() {
    this.onFetchRoom()
  },
  name: 'AddRoom',
  data() {
    return {
      queryId: this.$route.query.id,

      selected_type_of_room: 'ແອ',
      room: {
        room_number: '',
        type_of_room: '',
        price: '',
        room_status: '',
      },

      show1: false,
      password: 'Password',
      requireRules: [(v) => !!v || 'ກະລຸນາປ້ອນມູນໃຫ້ຄົບຖ້ວນ'],
    }
  },
  computed: {
    ...mapGetters({
      getterRoomInfo: 'room/GETTER_ROOM_INFO',
      getterLoading: 'room/GETTER_LOADING',
    }),
  },

  // methods: {
  //   goToPrev() {
  //     this.$router.go(-1)
  //   },
  methods: {
    ...mapActions({
      fetchRoomInfo: 'room/FETCH_ROOM_INFO',
    }),
    async onFetchRoom() {
      try {
        await this.fetchRoomInfo(this.queryId)
        this.room.room_number = this.getterRoomInfo.room
        this.room.type_of_room = this.getterRoomInfo.type_of_room
        this.room.price = this.getterRoomInfo.price
        this.room.room_status = this.getterRoomInfo.room_status
      } catch (error) {
        console.log(error)
      }
    },
    // async onSave() {
    //   try {
    //     const customer = await this.$axios.post(
    //       `/room/create`,
    //       {
    //         room: this.room.room_number,
    //         type_of_room: this.selected_type_of_room,
    //         price: this.room.price
    //       }
    //     )
    //     alert(customer.data.message)
    //     this.$router.push('/room')
    //   } catch (error) {
    //     alert(error)
    //   }
    // }
    async onSaveRoom() {
      try {
        const res = await this.$axios.post(
          API_URL.API_ADD_ROOM + `/${this.queryId}`,
          {
            room: this.room.room_number,
            type_of_room: this.room.type_of_room,
            price: this.room.price,
            room_status: this.room.room_status,
          }
        )

        if (res.data.status == 'success') {
          alert(res.data.message)
        } else {
          alert(res.data.exception_message)
        }
        this.$router.push('/room')
      } catch (error) {
        alert(error)
      }
    },
  },
}
</script>

<style></style>
