<template>
  <div>
    <v-progress-linear
        v-if="getter_loading"
        indeterminate
        color="cyan"
    ></v-progress-linear>
    <v-container v-else>
      <v-card>
        <v-card-title>
          ຈັດການຂໍ້ມູນຫ້ອງ
          <v-spacer></v-spacer>
          <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="ຄົ້ນຫາ"
              outlined
              dense
          ></v-text-field>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>

          <NuxtLink class="text-decoration-none" to="/room/add_room"
          >
            <v-btn class="mx-2 mb-2" small fab dark color="primary">
              <v-icon dark> mdi-plus</v-icon>
            </v-btn>
          </NuxtLink
          >
          <v-data-table
              :headers="headers"
              :items="getter_room"
              :items-per-page="5"
              class="elevation-1"
              :search="search"
          >

            <template #[`item.price`]="{ item }">
              {{ item.price  | numFormat('0,00') }}
            </template>
            <template #[`item.actions`]="{ item }">
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="grey"
                  @click="onView(item.id)"
              >
                <v-icon dark>
                  mdi-eye
                </v-icon>
              </v-btn>
              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="green"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>

              <v-btn
                  class="mx-2"
                  fab
                  dark
                  small
                  color="error"
                  @click="onEdit(item.id)"
              >
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      search:'',
      headers: [

        {
          text: 'ຫ້ອງ',
          value: 'room'
        },
        {
          text: 'ປະເພດຫ້ອງ',
          value: 'type_of_room'
        },
        {
          text: 'ລາຄາ',
          value: 'price'
        },
        {
          text: 'ສະຖານະ',
          value: 'room_status'
        },
        {
          text: 'ຈັດການ',
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      getter_room: 'room/GETTER_ROOM',
      getter_loading: 'room/GETTER_LOAD'
    })
  },

  created() {
    this.fetchAllRoom()
  },

  methods: {
    ...mapActions({
      fetchAllRoom: 'room/FETCH_ROOM'
    }),

   onEdit(id) {
       this.$router.push({ path: 'room/edit_room', query: { id } })
    },

    onView(id) {
      this.$router.push({ path: 'room/view_room', query: { id } })
    }

  }
}
</script>

<style></style>
