<template>
  <div>
    <v-progress-linear
        v-if="getterLoading"
        indeterminate
        color="cyan"
    ></v-progress-linear>
    <v-container v-else>

      <v-card>
        <v-card-title>
          <v-btn @click="goToPrev()" class="mx-2 mb-2" small fab dark color="primary">
            <v-icon dark> mdi-arrow-left-thin</v-icon>
          </v-btn>
          ລາຍລະອຽດຫ້ອງ
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row>
            <v-col cols="12" lg="2" md="2" sm="6">
              ລະຫັດຫ້ອງ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ paramId }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ຫ້ອງ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterRoomInfo.room }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ປະເພດຫ້ອງ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterRoomInfo.type_of_room }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ລາຄາ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterRoomInfo.price }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">

              ສະຖານະຫ້ອງ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterRoomInfo.room_status }}
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ViewRoom',
  data() {
    return {
      paramId: this.$route.query.id
    }
  },

  computed: {
    ...mapGetters({
      getterRoomInfo: 'room/GETTER_ROOM_INFO',
      getterLoading: 'room/GETTER_LOAD'
    })
  },
  created() {
    this.fetchRoomInfo(this.$route.query.id)
  },
  methods: {
    ...mapActions({
      fetchRoomInfo: 'room/FETCH_ROOM_INFO'
    }),
    goToPrev() {
      this.$router.go(-1)
    }


  }


}
</script>

<style scoped>

</style>
