<template>
  <div class="ma-5">
    <v-row>
      <v-col cols="5">
        <v-card>
          <v-card-title>
            ຄົ້ນຫາໃບບິນ
            <v-spacer></v-spacer>
            <v-row>
              <v-col lg="10" md="2">
                <!--            append-icon="mdi-magnify"-->
                <v-text-field
                    v-model="search"
                    label="ຄົ້ນຫາຕາມ ເລກທີບິນ ຫຼື ຊື່ລູກຄ້າ"
                    outlined
                    dense
                ></v-text-field>
              </v-col>
              <v-col lg="2" md="2">
                <v-btn @click="onSearch()" fab small color="primary">
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </v-col>
            </v-row>


          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <table>
              <thead>
              <tr>
                <th v-for="(item, index) in headers" :key="index">
                  {{ item.text }}
                </th>
              </tr>

              </thead>
              <tbody>
              <tr v-for="(item, index) in getter_bill" :key="index">
                <td>
                  {{ item.check_id }}
                </td>
                <td>
                  {{ item.fullname }}
                </td>
                <td>
                  {{ item.grand_total }}
                </td>
                <td>
                  {{ item.created_at }}
                </td>
                <td>
                  <v-btn @click="onView(item.check_id)" fab small color="primary">
                    <v-icon>mdi-eye</v-icon>
                  </v-btn>
                </td>
              </tr>
              </tbody>
            </table>

          </v-card-text>
        </v-card>

      </v-col>
      <v-col cols="7">
        <v-card>
          <v-card-title>
            <v-btn @click="onPrint()" color="primary" type="submit">

              <v-icon className="mr-1"> mdi-printer-outline</v-icon>
              ພິມ
            </v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text id="printInfo" ref="printInfo">
            <br>
            <br>
            <h2 style="text-align: center">ໃບຮັບເງິນ</h2>
            <h3 style="text-align: center">FACTURE</h3>
            <br>
            <br>
            <div id="myDIV">
              <div>
                <h3>ເຮືອນພັກ ສັນຕິສຸກ</h3><br>
                <b>ທີ່ຕັ້ງ:</b> ບ້ານ ສີເມືອງ, ເມຶອງ ໄຊຍະບູລີ, ແຂວງ ໄຊຍະບູລີ.<br>
                <b>ໂທ:</b> +856 20 5694-4239.<br>
              </div>

              <div>
                <b>ເລກທີບິນ:</b>123<br>
                <b>ວັນທີ:</b> 10/10/2022<br>
              </div>

            </div>


            <br>
            <br>
            <b>ຊື່ລູກຄ້າ:</b><br><br>
            <table>
              <thead>
              <tr>
                <th>ລຳດັບ<br>Order No.</th>
                <th>ລາຍການ <br> Designation</th>
                <th>ຫ້ອງ<br> Room</th>
                <th>ຈຳນວນ<br>Quantity</th>
                <th>ລາຄາ<br>Price</th>
                <th>ລວມ<br>Amount</th>

              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    ຫ້ອງແອ
                  </td>
                  <td>
                    ຫ້ອງເບີ 4
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    100.000
                  </td>
                  <td>
                    100.000
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    ຫ້ອງແອ
                  </td>
                  <td>
                    ຫ້ອງເບີ 5
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    100.000
                  </td>
                  <td>
                    100.000
                  </td>
                </tr>
              </tbody>
              <tfoot>
              <tr>
                <th colspan="5" style="text-align: end;">ລວມທັງໝົດ(Grand Total):</th>
                <th>200.000</th>
              </tr>
              </tfoot>
            </table>
            <div id="signatureDiv">
              <div>

                <b>ຜູ້ຮັບເງິນ</b><br>
                ສັນຕິສຸກ ໄຊຍະສຸກ<br>
              </div>

              <div>
                <b>ຜູ້ຮັບຈ່າຍເງິນ</b><br>
                ສັນຕິສຸກ ໄຊຍະສຸກ<br>
              </div>
            </div>
          </v-card-text>

        </v-card>
      </v-col>
    </v-row>


  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  data() {
    return {
      search: '',
      headers: [
        {
          text: 'ເລກທີບິນ',
          value: 'check_id'
        },
        {
          text: 'ຊື່ ແລະ ນາມສະກຸນ',
          value: 'fullname'
        },

        {
          text: 'ລວມມູນຄ່າ',
          value: 'grand_total'
        },
        {
          text: 'ວັນທີອອກບິນ',
          value: 'created_at'
        },
        {
          text: 'ຈັດການ',
          value: 'actions'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      getter_bill: 'report/bill/GETTER_BILL'
    })
  },

  created() {
    this.fetchBill('')
  },
  methods: {
    ...mapActions({
      fetchBill: 'report/bill/FETCH_BILL'
    }),
    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    },

    onView(id) {
      alert(id)
    },

    async onSearch() {
      try {
        await this.fetchBill(this.search)
      } catch (e) {
        alert(e)
      }
    }


  }
}
</script>


<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


#myDIV {
  display: flex;
  justify-content: space-between;
}

#myDIV div {

  height: 100px;
}


#signatureDiv {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

#signatureDiv div {
  height: 100px;
}

</style>