<template>
  <v-app light>
    <v-app-bar class="primary" fixed app dark>
      <v-toolbar-title v-text="title" />
      <!-- <v-btn class="ml-2">ລະລາຍອຽດການຈອງຫ້ອງພັກ</v-btn> -->
     <nuxt-link to="/customer-portal/booking/booking-detail"> <v-btn class="ml-2" text color="light" > ລະລາຍອຽດການຈອງຫ້ອງພັກ </v-btn></nuxt-link>
      <v-spacer />
    </v-app-bar>

    <v-main>

        <Nuxt />

    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      fixed: false,
      title: 'ເຮືອນພັກ ສັນຕິສຸກ',
    }
  },
}
</script>
