<template>
  <v-app light>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      dark
    >
      <!-- <v-list>
       <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>


      </v-list>-->
      <v-list>
        <v-list-group
          v-for="item in items"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template #activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item v-for="child in item.items" :key="child.title">
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="clipped" fixed app light>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>

    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
      light
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      // items: [
      //   {

      //     icon: 'mdi-android-messages',

      //     title: 'ຈັດການຂໍ້ມູນ',
      //           items: [
      //     { title: 'ຈັດການຂໍ້ມູນລູກຄ້າ' ,  to: '/inspire'},
      //     { title: 'ຈັດການຂໍ້ມູນຫ້ອງ',  to: '/inspire' },
      //   ],
      //     to: '/'
      //   },
      //   {
      //     icon: 'mdi-chart-bubble',
      //     title: 'ບໍລິການ',
      //                 items: [
      //     { title: 'ແຈ້ງເຂົ້າແຈ້ງອອກ' ,  to: '/inspire'},
      //   ],
      //     to: '/inspire'
      //   },
      //   {
      //     icon: 'mdi-chart-bubble',
      //     title: 'ລາຍງານ',
      //     to: '/inspire'
      //   }
      // ],

      items: [
        {
          action: 'mdi-ticket',
          items: [
            { title: 'ການຈັດການຂໍ້ມູນລູກຄ້າ' },
            { title: 'ການຈັດການຂໍ້ມູນພະນັກງານ' },
            { title: 'ການຈັດການຂໍ້ມູນຫ້ອງ' },
            { title: 'ການຈັດການຂໍ້ມູນປະເພດຫ້ອງ' },
            { title: 'ການຈັດການຂໍ້ມູນສະຖານະຫ້ອງ' },
            { title: 'ການຈັດການຂໍ້ມູນຊັບສິນ' },
          ],
          title: 'ການຈັດການຂໍ້ມູນ',
        },
        {
          action: 'mdi-silverware-fork-knife',
          active: true,
          items: [
            { title: 'ການຈອງຫ້ອງພັກ' },
            { title: 'ການແຈ້ງເຂົ້າ-ແຈ້ງອອກ' },
          ],
          title: 'ຈັດການການບໍລິການ',
        },
        {
          action: 'mdi-school',
          items: [
            { title: 'ພິມລາຍງານລາຍລະອຽດການຈອງຫ້ອງພັກ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນລູກຄ້າ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນການແຈ້ງເຂົ້າ-ແຈ້ງອອກ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນຫ້ອງ' },
            { title: 'ພິມລາຍງານລາຍຮັບ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນພະນັກງານ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນຊັບສິນ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນສະຖານະຫ້ອງ' },
          ],
          title: 'ການສ້າງລາຍງານ',
        },
      ],

      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'ເຮືອນພັກ ສັນຕິສຸກ',
    }
  },
}
</script>
