<template>
  <v-app light>
    <v-app-bar :clipped-left="clipped" fixed app light>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />


      <v-toolbar-title v-text="title" />
      <!-- <v-btn

          class="dark--text ma-5"
          v-bind="attrs"

        depressed
        >
          ເຂົ້າສູ່ລະບົບ  <v-icon>mdi-menu-down</v-icon>
        </v-btn> -->

      <v-menu offset-y>
        <template #activator="{ on, attrs }">
          <v-btn color="primary" text dark depressed v-bind="attrs" v-on="on">
            ການຈັດການຂໍ້ມູນ <v-icon>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in managementMenu"
            :key="index"
            :to="item.link"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-menu offset-y>
        <template #activator="{ on, attrs }">
          <v-btn color="primary" text dark depressed v-bind="attrs" v-on="on">
            ຈັດການການບໍລິການ <v-icon>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in serviceMenu"
            :key="index"
            :to="item.link"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-menu offset-y>
        <template #activator="{ on, attrs }">
          <v-btn color="primary" text dark depressed v-bind="attrs" v-on="on">
            ການສ້າງລາຍງານ <v-icon>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in reportMenu"
            :key="index"
            :to="item.link"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-spacer />
      <v-chip
        class="ma-2"
        color="green"
        text-color="white"
      >
        <v-icon>mdi-account</v-icon>
        <span class="ml-1">SANTISOUK</span>
      </v-chip>
      <v-row >
        <v-menu offset-y>
          <template #activator="{ attrs, on }">
            <v-btn
              color="blue"
              class="white--text ma-5"
              v-bind="attrs"
              v-on="on"
            >
              ເຂົ້າສູ່ລະບົບ <v-icon>mdi-menu-down</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item link>
              <v-list-item-title v-text="1"></v-list-item-title>
            </v-list-item>
            <v-list-item link>
              <v-list-item-title v-text="2"></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-row>
    </v-app-bar>


    <v-main style="background-color: #F5F5F5">

        <Nuxt />

    </v-main>

    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,

      managementMenu: [
        { title: 'ການຈັດການຂໍ້ມູນລູກຄ້າ', link: '/customer' },
        { title: 'ການຈັດການຂໍ້ມູນພະນັກງານ', link: '/employee' },
        { title: 'ການຈັດການຂໍ້ມູນຫ້ອງ', link: '/room' },
        { title: 'ການຈັດການຂໍ້ມູນຊັບສິນ', link: '/asset' },
      ],
      serviceMenu: [
        { title: 'ການຈອງຫ້ອງພັກ', link: '/booking' },
        { title: 'ການແຈ້ງເຂົ້າ-ແຈ້ງອອກ', link: '/check_in_out' },
      ],
      reportMenu: [
        {
          title: 'ພິມລາຍງານລາຍລະອຽດການຈອງຫ້ອງພັກ',
          link: '/report/booking',
        },
        { title: 'ພິມລາຍງານຂໍ້ມູນລູກຄ້າ', link: '/report/customer_report' },
        {
          title: 'ພິມລາຍງານຂໍ້ມູນການແຈ້ງເຂົ້າ-ແຈ້ງອອກ',
          link: '/report/check_in_out_report',
        },
        { title: 'ພິມລາຍງານຂໍ້ມູນຫ້ອງ', link: '/report/room_report' },
        // { title: 'ພິມລາຍງານລາຍຮັບ', link: '/report/room_detai4' },
        { title: 'ພິມລາຍງານຂໍ້ມູນພະນັກງານ', link: '/report/employee_report' },
        { title: 'ພິມລາຍງານຂໍ້ມູນຊັບສິນ', link: '/report/asset_report' },
        { title: 'ພິມລາຍງານໃບບິນ', link: '/report/bill' },
      ],

      items: [
        {
          action: 'mdi-ticket',
          items: [
            { title: 'ການຈັດການຂໍ້ມູນລູກຄ້າ' },
            { title: 'ການຈັດການຂໍ້ມູນພະນັກງານ' },
            { title: 'ການຈັດການຂໍ້ມູນຫ້ອງ' },
            { title: 'ການຈັດການຂໍ້ມູນປະເພດຫ້ອງ' },
            { title: 'ການຈັດການຂໍ້ມູນສະຖານະຫ້ອງ' },
            { title: 'ການຈັດການຂໍ້ມູນຊັບສິນ' },
          ],
          title: 'ການຈັດການຂໍ້ມູນ',
        },
        {
          action: 'mdi-silverware-fork-knife',
          active: true,
          items: [
            { title: 'ການຈອງຫ້ອງພັກ' },
            { title: 'ການແຈ້ງເຂົ້າ-ແຈ້ງອອກ' },
          ],
          title: 'ຈັດການການບໍລິການ',
        },
        {
          action: 'mdi-school',
          items: [
            { title: 'ພິມລາຍງານລາຍລະອຽດການຈອງຫ້ອງພັກ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນລູກຄ້າ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນການແຈ້ງເຂົ້າ-ແຈ້ງອອກ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນຫ້ອງ' },
            { title: 'ພິມລາຍງານລາຍຮັບ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນພະນັກງານ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນຊັບສິນ' },
            { title: 'ພິມລາຍງານຂໍ້ມູນສະຖານະຫ້ອງ' },
          ],
          title: 'ການສ້າງລາຍງານ',
        },
      ],

      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'ເຮືອນພັກ ສັນຕິສຸກ',
    }
  },

  methods: {
    routeToMenu(goto) {
      this.$router.push({ path: goto })
    },
  },
}
</script>
