<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">

    </v-col>
  </v-row>
</template>

<script>
// import axios from '@nuxtjs/axios'
export default {
 
}
</script>
