<template>
  <div>
    <v-container>


      <v-btn @click="onPrint()" color="primary" type="submit">
        <v-icon className="mr-1"> mdi-printer-outline</v-icon>
        ພິມ
      </v-btn>
      <br>
      <br>

      <v-card id="printInfo" ref="printInfo">
        <v-card-title>

        </v-card-title>
        <v-card-text>
          <h2 style="text-align: center">ລາຍງານຂໍ້ມູນຫ້ອງ</h2>
          <br>
          <br>
          <table>
            <thead>
            <tr>
              <th>ຫ້ອງ</th>
              <th>ປະພດຫ້ອງ</th>
              <th>ລາຄາ</th>
              <th>ສະຖານະ</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in getter_room" :key="index">
              <td>{{ item.room }}</td>
              <td>{{ item.type_of_room }}</td>
              <td>{{ item.price | numFormat("0,00")}}</td>
              <td>{{ item.room_status }}</td>

            </tr>
            </tbody>
          </table>
        </v-card-text>

      </v-card>

    </v-container>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  computed: {
    ...mapGetters({
      getter_room: 'room/GETTER_ROOM',
    })
  },

  created() {
    this.fetchAllRoom()

  },
  methods: {
    ...mapActions({
      fetchAllRoom: 'room/FETCH_ROOM'
    }),

    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    }

  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>