<template>
  <div class="pa-10">
    <v-card>
      <v-card-title>
        <!--        <v-btn @click="onPrint()" color="primary" type="submit">-->
        <!--          <v-icon className="mr-1"> mdi-printer-outline</v-icon>-->
        <!--          ພິມ-->
        <!--        </v-btn>-->
        <v-spacer></v-spacer>

        <v-row no-gutters justify='end'>
          <v-col cols="4" class="mr-2">
            <div class='d-flex'>
              <div class="mr-4">
                <v-text-field
                    v-model="search"
                    label="ລະຫັດການຈອງ"
                    placeholder="ຄົ້ນຫາຕາມລະຫັດການຈອງ"
                    outlined
                    dense
                ></v-text-field
                >
              </div>

              <div>
                <v-btn
                    height='50'
                    width='50'
                    depressed
                    color='primary'
                    fab
                    @click="fetchCheckReport()"
                >
                  <v-icon
                      color='white'
                  >
                    mdi-magnify
                  </v-icon>
                </v-btn>

              </div>
            </div>

          </v-col>
        </v-row>


      </v-card-title>
      <v-divider></v-divider>

      <v-card-text>
        <h2 style="text-align: center">ລາຍງານລາຍລະອຽດການຈອງຫ້ອງພັກ</h2>
        <br>
        <br>
        <table>
          <thead>
          <tr>
            <th>ລະຫັດການຈອງ</th>
            <th>ຊື່ ແລະ ນາມສະກຸນ ລູກຄ້າ</th>
            <th>ຄ່າມັດຈຳ</th>
            <th>ຈອງແຕ່ວັນທີ - ວັນທີ</th>
            <th>ສະຖານະ</th>
            <th>ຫ້ອງ</th>
            <th>ຈັດການ</th>
          </tr>

          </thead>
          <tbody>
          <tr v-for="(item, index) in getterBooking" :key="index">

            <td>{{ item.id }}</td>
            <td>{{ item.customer.fullname }}</td>
            <td>{{ item.pledge | numFormat('') }}</td>
            <td>{{ item.booking_from }} - {{ item.booking_to }}</td>
            <td>{{ item.status }}</td>
            <td>
              <v-chip v-for="(bkItem, index) in item.booking_detail" :key="index" color="primary">{{
                  bkItem.room.room
                }}
              </v-chip>
            </td>
            <td>
              <v-btn fab small color="primary">
                <v-icon fab small>mdi-printer-outline</v-icon>
              </v-btn>
            </td>

          </tr>
          </tbody>
        </table>
      </v-card-text>


    </v-card>
    <v-btn @click="onPrint()">print</v-btn>
    <v-card id="printInfo" ref="printInfo">
      <v-card-text>
        <h2 style="text-align: center">ລາຍງານລາຍລະອຽດການຈອງຫ້ອງພັກ</h2>
        <br>
        <br>

        <span style="float: right">ລະຫັດການຈອງ: 123</span>
        <br>
        <span style="float: right">ວັນທີຈອງ: 2022-06-05</span>

        <br>
        <br>
        <h3>ຊື່ ແລະ ນາມສະກຸນ ລູກຄ້າ: ສັນຕິສຸກ ໄຊຍະສຸກ</h3>
        <br>

        <table>
          <thead>
          <tr>
          <tr>
            <th>ຫ້ອງ</th>
            <th>ປະເພດຫ້ອງ</th>
            <th>ຈອງແຕ່ວັນທີ-ວັນທີ</th>
            <th>ລາຄາ</th>
            <th>ຈຳນວນ</th>
            <th>ລວມ</th>
          </tr>
          <tr>
            <td>ຫ້ອງເບີ 1</td>
            <td>ແອ</td>
            <td>2022-06-15 - 2022-06-17</td>
            <td>3</td>
            <td>100,000 ₭</td>
            <td>300,000 ₭</td>
          </tr>
          <tr>
            <td>ຫ້ອງເບີ 1</td>
            <td>ພັດລົມ</td>
            <td>2022-06-15 - 2022-06-17</td>
            <td>3</td>
            <td>60,000 ₭</td>
            <td>180,000 ₭</td>
          </tr>
          </thead>
<!--          <tfoot>-->
<!--          <tr>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          </tfoot>-->
        </table>
        <br>
        <br>
        <span style="float: right"><b>ລວມທັງໝົດ: 480.000 ₭</b></span>
        <br>
        <span style="float: right"><b>ຄ່າໝັດຈຳ(15%)ຂອງມູນຄ່າ:72.000 ₭</b></span>
        <br>
        <br>
        <br>
      </v-card-text>
    </v-card>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  data() {
    return {
      search: '',
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      menu1: '',
      menu3: ''
    }
  },
  computed: {
    ...mapGetters({
      getterBooking: 'booking/GETTER_BOOKING'
    })
  },

  created() {
    // this.fetchCheckReport()
    this.fetchBooking()
  },
  methods: {
    ...mapActions({
      fetchBooking: 'booking/FETCH_BOOKING'
    }),

    // fetchCheckReport() {
    //   const payload = {
    //     startDate: this.$moment(this.startDate).format('YYYYMMDD'),
    //     endDate: this.$moment(this.endDate).format('YYYYMMDD'),
    //   }
    //   this.fetchCheckInOut(payload)
    // },

    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    }

  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
</style>