<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title>ເພິ່ມລາຍການແຈ້ງເຂົ້າ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSaveEmployee()">
            <v-row>
              <v-col cols="6">
                <v-row>
                  <v-col cols="10">
                    <v-text-field
                      v-model="customer.fullname"
                      label=""
                      placeholder="ກະລຸນາປ້ອນຊື່ ແລະ ນາມສະກຸນ"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <v-btn @click="onSelectCustomer()" fab small color="primary"
                      >ເລືອກ</v-btn
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <table>
                  <thead>
                    <tr>
                       <th>
                        <v-btn
                          @click="addCheckInOutDetail()"
                          small
                          color="primary"
                        >
                          <v-icon>mdi-plus-square</v-icon>
                          ເພີ້ມ
                        </v-btn>
                      <th>ລ.ດ</th>
                      <th>ຫ້ອງ</th>
                      <th>ມື້ເຂົ້າ</th>
                      <th>ມື້ອອກ</th>
                      <th>ຈຳນວນ</th>
                      <th>ລາຄາ</th>

                      <th>ລວມ</th>
                     
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--                    <tr v-for="(item, index) in checkInOutDetail" :key="index">-->
                    <!--                      <td></td>-->
                    <!--                      <td></td>-->
                    <!--                      <td></td>-->
                    <!--                      <td></td>-->
                    <!--                      <td></td>-->
                    <!--                    </tr>-->
                    <tr v-for="(item, index) in checkInOutDetail" :key="index">
                       <td>
                        <v-btn
                          @click="removeCheckInOutDetail(item)"
                          color="error"
                          fab
                          small
                          >X</v-btn
                        >
                      </td>
                      <td>{{ index + 1 }}</td>
                      <td>
                        <v-select
                          v-model="item.id"
                          style="max-width: 150px"
                          :items="getter_room"
                          item-value="id"
                          item-text="room"
                          dense
                          class="mt-4 mr-6 rounded-lg"
                          outlined
                        >
                        </v-select>
                      </td>
                      <td>
                        <v-menu
                          v-model="item.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="auto"
                        >
                          <template #activator="{ on, attrs }">
                            <v-text-field
                              v-model="item.dateIn"
                              hide-details
                              outlined
                              dense
                              class="rounded-lg"
                              height="40"
                              v-bind="attrs"
                              v-on="on"
                            >
                              <template v-slot:prepend-inner>
                                <v-icon class="mr-2">mdi-calendar</v-icon>
                              </template>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="item.dateIn"
                            no-title
                            @input="item.menu = false"
                          />
                        </v-menu>
                      </td>
                      <td>
                        <v-menu
                          v-model="item.menu1"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="auto"
                        >
                          <template #activator="{ on, attrs }">
                            <v-text-field
                              v-model="item.dateOut"
                              hide-details
                              outlined
                              dense
                              class="rounded-lg"
                              height="40"
                              v-bind="attrs"
                              v-on="on"
                            >
                              <template v-slot:prepend-inner>
                                <v-icon class="mr-2">mdi-calendar</v-icon>
                              </template>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="item.dateOut"
                            no-title
                            @input="item.menu1 = false"
                          />
                        </v-menu>
                      </td>
                      <td>2</td>
                      <td>100.000</td>
                      <td>200.000</td>
                     
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr style="border: none">
                      <td colspan="7" style="text-align: right">ລວມທັງໝົດ</td>
                      <td >200.000</td>
                    </tr>
                  </tfoot>
                </table>
              </v-col>
            </v-row>
            <br />
            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>

    <v-row justify="space-around">
      <v-col cols="auto">
        <v-dialog
          v-model="dialog"
          transition="dialog-top-transition"
          max-width="800"
        >
          <template v-slot:default="dialog">
            <v-card>
              <v-card-title>
                ເລືອກລູກຄ້າ
                <v-spacer></v-spacer>

                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="ຄົ້ນຫາ"
                  outlined
                  dense
                ></v-text-field
              ></v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <div class="text-h2 pa-12">
                  <v-data-table
                    :headers="headers"
                    :items="get_customer"
                    :items-per-page="5"
                    class="elevation-1"
                    :search="search"
                  >
                    <template #[`item.gender`]="{ item }">
                      <span v-if="item.gender == 'm'">ທ້າວ</span>
                      <span v-else>ນາງ</span>
                    </template>

                    <template #[`item.actions`]="{ item }">
                      <v-btn
                        class="mx-2"
                        dark
                        small
                        color="primary"
                        @click="customerSelected(item)"
                      >
                        <!-- <v-icon dark> mdi-eye </v-icon> -->
                        ເລືອກ
                      </v-btn>
                    </template>
                  </v-data-table>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <!-- <v-btn
                  class="primary"
                  text
                  @click="1==1"
                >
                  ບັນທຶກ
                </v-btn> -->
                <v-btn
                  color="green darken-1"
                  text
                  @click="dialog.value = false"
                >
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'ລຳດັບ',
          value: 'id',
        },
        {
          text: 'ຄຳນຳໜ້າ',
          value: 'gender',
        },
        {
          text: 'ຊື່ ແລະ ນາມສະກຸນ',
          value: 'fullname',
        },

        {
          text: 'ເບີໂທລະສັບ',
          value: 'tel',
        },
        {
          text: 'ທີ່ຢູ່',
          value: 'address',
        },
        {
          text: 'ເລືອກ',
          value: 'actions',
        },
      ],

      dialog: false,
      checkInOutDetail: [
        {
          selectedRoom: '',
          dateIn: new Date().toISOString().substr(0, 10),
          menu: '',
          dateOut: new Date().toISOString().substr(0, 10),
          menu1: '',
          qty: 0,
          price: 0,
          total: 0,
        },
      ],
      customer: {
        id: '',
        title: '',
        username: '',
        fullname: '',
        nationality: '',
        date_of_birth: '',
        address: '',
        passport: '',
        id_card: '',
        issue_at: '',
        tel: '',
        gender: '',
        entering_of_border: '',
        email: '',
        password: '',
      },

      show1: false,
      menu2: '',
      password: 'Password',
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => `The email and password you entered don't match`,
      },
    }
  },

  created() {
    this.fetchAllRoom()
    this.fetchAllCustomer()
  },

  computed: {
    ...mapGetters({
      getter_room: 'room/GETTER_ROOM',
      get_customer: 'customer/GET_CUSTOMER',
    }),
  },

  methods: {
    ...mapActions({
      fetchAllRoom: 'room/FETCH_ROOM',
      fetchAllCustomer: 'customer/FETCH_CUSTOMER',
    }),

    goToPrev() {
      this.$router.go(-1)
    },

    addCheckInOutDetail() {
      this.checkInOutDetail.push({
        selectedRoom: '',
        dateIn: new Date().toISOString().substr(0, 10),
        menu: '',
        dateOut: new Date().toISOString().substr(0, 10),
        menu1: '',
        qty: 0,
        price: 0,
        total: 0,
      })
    },
    removeCheckInOutDetail(checkin) {
      var idx = this.checkInOutDetail.indexOf(checkin)
      if (idx > -1) {
        this.checkInOutDetail.splice(idx, 1)
      }
    },

    onSelectCustomer() {
      this.dialog = true
    },

    customerSelected(cust) {
      this.customer.id = cust.id
      this.customer.fullname = cust.fullname
      this.dialog = false
    },

    async onSaveCustomer() {
      try {
        const customer = await this.$axios.post(
          `http://localhost:8000/api/customer`,
          {
            title: this.customer.title,
            username: this.customer.username,
            fullname: this.customer.fullname,
            nationality: this.customer.nationality,
            date_of_birth: this.customer.date_of_birth,
            address: this.customer.address,
            passport: this.customer.passport,
            id_card: this.customer.id_card,
            issue_at: this.customer.issue_at,
            tel: this.customer.tel,
            gender: this.customer.gender,
            entering_of_border: this.customer.entering_of_border,
            email: this.customer.email,
            password: this.customer.password,
          }
        )
        alert(customer.data.message)
        this.$router.push('/customer')
      } catch (error) {}
    },
  },
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
