<template>
  <div class="pa-10">
    <v-card>
      <v-card-title>
        <v-btn @click="onPrint()" color="primary" type="submit">
          <v-icon className="mr-1"> mdi-printer-outline</v-icon>
          ພິມ
        </v-btn>
        <v-spacer></v-spacer>

        <v-row no-gutters justify='end'>
          <v-col cols="7" class="mr-2">
            <div class='d-flex'>
              <div class="mr-4">
                <v-menu
                    v-model='menu1'
                    :close-on-content-click='false'
                    transition='scale-transition'
                    offset-y
                    max-width='290px'
                    min-width='auto'
                >
                  <template #activator='{ on, attrs }'>
                    <v-text-field
                        v-model='startDate'
                        hide-details
                        outlined
                        dense
                        class="rounded-lg"
                        height="40"
                        v-bind='attrs'
                        v-on='on'
                    >
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2">mdi-calendar</v-icon>
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                      v-model='startDate'
                      no-title
                      @input='menu1 = false'
                  />
                </v-menu>
              </div>
              <div class="mr-4">
                <v-menu
                  v-model='menu2'
                  :close-on-content-click='false'
                  transition='scale-transition'
                  offset-y
                  max-width='290px'
                  min-width='auto'
                  >
                  <template #activator='{ on, attrs }'>
                    <v-text-field
                        v-model='endDate'
                        hide-details
                        outlined
                        dense
                        class="rounded-lg"
                        height="40"
                        v-bind='attrs'
                        v-on='on'
                    >
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2">mdi-calendar</v-icon>
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                      v-model='endDate'
                      no-title
                      @input='menu2 = false'
                  />
                </v-menu>
              </div>
              <div>
                <v-btn
                    height='50'
                    width='50'
                    depressed
                    color='primary'
                    fab
                    @click="fetchCheckReport()"
                >
                  <v-icon
                      color='white'
                  >
                    mdi-magnify
                  </v-icon>
                </v-btn>

              </div>
            </div>

          </v-col>
        </v-row>


      </v-card-title>
      <v-divider></v-divider>

      <v-card-text id="printInfo" ref="printInfo">
        <h2 style="text-align: center">ລາຍງານຂໍ້ມູນການເຂົ້າພັກ</h2>
        <br>
        <br>
        <table>
          <thead>
          <tr>
            <th rowspan="2">ລ/ດ</th>
            <th rowspan="2">ຊື່ ແລະ ນາມສະກຸນ</th>
            <th rowspan="2">ສັນຊາດ</th>
            <th rowspan="2">ວ/ດ/ປ ເກີດ</th>
            <th colspan="2">ຄົນຕ່າງປະເທດ</th>
            <th colspan="3">ຄົນລາວ</th>
            <th rowspan="2">ວ/ດ/ປ ເຂົ້າພັກ</th>
            <th rowspan="2">ວ/ດ/ປ ອອກ</th>
            <th rowspan="2">ຫ້ອງ</th>
            <th rowspan="2">ມາໃນນາມ</th>
          </tr>
          <tr>
            <th>ພາສປອດ</th>
            <th>ເຂົົ້າດ່ານ</th>
            <th>ບັດປະຈຳໂຕເລກທີ</th>
            <th>ອອກໃຫ້ທີ່</th>
            <th>ທີ່ຢູ່ປັດຈຸບັນ</th>
          </tr>

          </thead>
          <tbody>
          <tr v-for="(item, index) in getterCheckInOut" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ item.check_in_out.customer.fullname }}</td>
            <td>{{ item.check_in_out.customer.nationality }}</td>
            <td>{{ item.check_in_out.customer.date_of_birth }}</td>
            <td>{{ item.check_in_out.customer.passport }}</td>
            <td>{{ item.check_in_out.customer.entering_of_border }}</td>
            <td>{{ item.check_in_out.customer.id_card }}</td>
            <td>{{ item.check_in_out.customer.issue_at }}</td>
            <td>{{ item.check_in_out.customer.address }}</td>
            <td>{{ item.date_in }}</td>
            <td>{{ item.date_out }}</td>
            <td>{{ item.room.room }}</td>
            <td>{{ item.comming_of_purpose }}</td>

          </tr>
          </tbody>
        </table>
      </v-card-text>

    </v-card>


  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  data() {
    return {
      startDate:new Date().toISOString().substr(0, 10),
      endDate:new Date().toISOString().substr(0, 10),
      menu1:"",
      menu3:""
    }
  },
  computed: {
    ...mapGetters({
      getterCheckInOut: 'check_in_out/GETTER_CHECK_IN_OUT'
    })
  },

  created() {
    this.fetchCheckReport()
  },
  methods: {
    ...mapActions({
      fetchCheckInOut: 'check_in_out/FETCH_CHECK_IN_OUT'
    }),

    fetchCheckReport() {
      const payload = {
        startDate: this.$moment(this.startDate).format('YYYYMMDD'),
        endDate: this.$moment(this.endDate).format('YYYYMMDD'),
      }
      this.fetchCheckInOut(payload)
    },

    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    }

  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
</style>