<template>
  <div>
    <v-container>

      <v-card>
        <v-card-title>ເພິ່ມຂໍ້ມູນລູກຄ້າ</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="onSaveCustomer()">
            <v-row>
              <v-col cols="6">
                <!-- <h3>{{ employee }}</h3> -->

                <v-row>
                  <v-col cols="3">
            
                    <v-select
                        v-model="customer.title"
                        :items="titles"
                        label="ຄຳນຳໜ້າ"
                        item-value="genderENG"
                        item-text="genderLAO"
                        outlined
                        dense
                    ></v-select
                    >
                  </v-col>
                  <v-col cols="9">
                    <v-text-field
                        v-model="customer.fullname"
                        label="ຊື່ ແລະ ນາມສະກຸນ"
                        placeholder="ກະລຸນາປ້ອນຊື່ ແລະ ນາມສະກຸນ"
                        outlined
                        dense
                    ></v-text-field
                    >
                  </v-col>
                </v-row>

                <v-text-field
                    v-model="customer.tel"
                    label="ເບີໂທ"
                    placeholder="ກະລຸນາປ້ອນເບີໂທ"
                    outlined
                    dense
                ></v-text-field>

                <v-text-field
                    v-model="customer.id_card"
                    label="ບັດປະຈຳຕົວ"
                    placeholder="ກະລຸນາປ້ອນບັດປະຈຳຕົວ"
                    outlined
                    dense
                ></v-text-field>
                <v-text-field
                    v-model="customer.passport"
                    label="ພາດສະປອດ"
                    placeholder="ກະລຸນາປ້ອນພາດສະປອດ"
                    outlined
                    dense
                ></v-text-field>
              </v-col>

              <v-col cols="6">
                <v-text-field
                    v-model="customer.nationality"
                    label="ສັນຊາດ"
                    placeholder="ກະລຸນາປ້ອນສັນຊາດ"
                    outlined
                    dense
                ></v-text-field>

                                <v-menu
                    v-model='menu'
                    :close-on-content-click='false'
                    transition='scale-transition'
                    offset-y
                    max-width='290px'
                    min-width='auto'
                >
                  <template #activator='{ on, attrs }'>
                    <v-text-field
                        v-model='customer.birth_date'
                        hide-details
                        outlined
                        dense
                        class="rounded-lg"
                        height="40"
                        v-bind='attrs'
                        v-on='on'
                    >
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2">mdi-calendar</v-icon>
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                      v-model='customer.birth_date'
                      no-title
                      @input='menu = false'
                  />
                </v-menu>

                <v-text-field class="mt-6"
                    v-model="customer.issue_at"
                    label="ອອກທີ່"
                    placeholder="ກະລຸນາປ້ອນອອກທີ່"
                    outlined
                    dense
                ></v-text-field>

                <v-text-field
                    v-model="customer.entering_of_border"
                    label="ເຂົ້າດ່ານ"
                    placeholder="ກະລຸນາປ້ອນເຂົ້າດ່ານ"
                    outlined
                    dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-textarea
                v-model="customer.address"
                label="ທີ່ຢູ່"
                placeholder="ກະລຸນາປ້ອນທີ່ຢູ່"
                outlined
                dense
            ></v-textarea>

            <hr/>
            <br/>
            <v-row>
              <v-col cols="6">
                <v-text-field
                    v-model="customer.username"
                    label="ຊື່ຜູ້ເຂົ້າໃຊ້"
                    placeholder="ກະລຸນາປ້ອນຊື່ຜູ້ເຂົ້າໃຊ້"
                    outlined
                    dense
                ></v-text-field>
                <v-text-field
                    v-model="customer.email"
                    label="ອີເມວ"
                    placeholder="ກະລຸນາປ້ອນອີເມວ"
                    outlined
                    dense
                ></v-text-field>
                <!-- <v-text-field
                  v-model="customer.password"
                  label="ລະຫັດຜ່ານ"
                  placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານ"
                  outlined
                  dense
                ></v-text-field>
                <v-text-field
                  v-model="customer.confirm_password"
                  label="ຢືນຍັນລະຫັດຜ່ານ"
                  placeholder="ກະລຸນາປ້ອນຢືນຍັນລະຫັດຜ່ານ"
                  outlined
                  dense
                ></v-text-field> -->


                <v-text-field
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    label="ລະຫັດຜ່ານ"
                    outlined
                    dense
                    @click:append="show1 = !show1"
                ></v-text-field>

              </v-col>
              <v-col cols="6"></v-col>
            </v-row>

            <v-btn color="primary" type="submit">
              <v-icon class="mr-1"> mdi-content-save</v-icon>
              ບັນທຶກ
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import API_URL from '@/helper/API_URL'
import {toastSuccess} from "~/helper/swal"
export default {
  data() {
    return {
        menu:"",
        titles: [
          {genderENG:"m",genderLAO:"ທ້າວ"},
          {genderENG:"f",genderLAO:"ນາງ"}
         ],


      customer: {
        title: '',
        username: '',
        fullname: '',
        nationality: '',
        birth_date: new Date().toISOString().substr(0, 10),
        address: '',
        passport: '',
        id_card: '',
        issue_at: '',
        tel: '',
        gender: '',
        entering_of_border: '',
        email: '',
        password: '',
      },

        show1: false,
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => (`The email and password you entered don't match`),
        },



    }
  },

  methods: {
    goToPrev() {
      this.$router.go(-1)
    },
    async onSaveCustomer() {
      try {
        const res = await this.$axios.post(API_URL.API_ADD_CUSTOMER,
          {
            gender: this.customer.title,
            username: this.customer.username,
            fullname: this.customer.fullname,
            nationality: this.customer.nationality,
            date_of_birth : this.$moment(this.customer.birth_date).format('YYYY-MM-DD'),
            address: this.customer.address,
            passport: this.customer.passport,
            id_card: this.customer.id_card,
            issue_at: this.customer.issue_at,
            tel: this.customer.tel,
            entering_of_border: this.customer.entering_of_border,
            email: this.customer.email,
            password: this.customer.password,
          }
        )
    

        if(res.data.status=="success"){
        toastSuccess(this.$swal, res.data.message)
        }else{
          alert(res.data.exception_message)
        }
        this.$router.push('/customer')
      }
       catch (error) {
        alert(error)
       }
    },
  },
}
</script>

<style></style>

