<template>
  <div>

    <v-container>
      <v-card>
        <v-card-title>
          <v-btn @click="goToPrev()" class="mx-2 mb-2" small fab dark color="primary">
            <v-icon dark> mdi-arrow-left-thin</v-icon>
          </v-btn>
          ລາຍລະອຽດຂໍ້ມູນລູກຄ້າ
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row>
            <v-col cols="12" lg="2" md="2" sm="6">
              ລະຫັດລູກຄ້າ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ paramId }}
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="6">
              ຊື່ ແລະ ນາມສະກຸນ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{getterCustomerInfo.gender=="m"?"ທ້າວ":"ນາງ"}}
              {{ getterCustomerInfo.fullname }}
            </v-col>

            <v-col cols="12" lg="2" md="2" sm="6">
              ສັນຊາດ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.nationality }}
            </v-col>

            <v-col cols="12" lg="2" md="2" sm="6">
              ເບີໂທລະສັບ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.tel }}
            </v-col>
           
             <v-col cols="12" lg="2" md="2" sm="6">
              ວັນເດືອນປີ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.date_of_birth }}
            </v-col>

            <v-col cols="12" lg="2" md="2" sm="6">
              ບັດປະຈຳຕົວ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.id_card }}
            </v-col>

              <v-col cols="12" lg="2" md="2" sm="6">
              ອອກທີ່:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.issue_at }}
            </v-col>

            <v-col  v-col cols="12" lg="2" md="2" sm="6">
              ພາດສະປອດ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.passport }}
            </v-col>


          <v-col  v-col cols="12" lg="2" md="2" sm="6">
              ເຂົ້າດ່ານ:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.entering_of_border }}
            </v-col>
           <v-col cols="12" lg="2" md="2" sm="6">
              ທີ່ຢູ່:
            </v-col>
            <v-col cols="12" lg="10" md="10" sm="6">
              {{ getterCustomerInfo.address }}
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ViewCustomer',
  data() {
    return {
      paramId: this.$route.query.id
    }
  },

  computed: {
    ...mapGetters({
      getterCustomerInfo: 'customer/GET_CUSTOMER_INFO',
    })
  },
  created() {
    this.fetchCustomerInfo(this.$route.query.id)
  },


  
  methods: {
    ...mapActions({
      fetchCustomerInfo: 'customer/FETCH_CUSTOMER_INFO'
    }),

    goToPrev() {
      this.$router.go(-1)
    }
  }


}
</script>

<style scoped>

</style>
