<template>
  <div>
    <v-container>


      <v-btn @click="onPrint()" color="primary" type="submit">
        <v-icon class="mr-1">  mdi-printer-outline</v-icon>
        ພິມ
      </v-btn>
      <br>
      <br>

      <v-card id="printInfo" ref="printInfo">
        <v-card-title>

        </v-card-title>
        <v-card-text>
          <h2 style="text-align: center">ລາຍງານຂໍ້ມູນລູກຄ້າ</h2>
          <br>
          <br>
          <h3>ຈຳນວນລູກຄ້າທັງໝົດ: {{get_customer.length}} ຄົນ</h3>
          <table>
            <thead>
            <tr>
              <th>ຊື່ ແລະ ນາມສະກຸນ</th>
              <th>ສັນຊາດ</th>
              <th>ວ/ດ/ປ ເກີດ</th>
              <th>ບ່ອນຢູ່</th>
              <th>passport</th>
              <th>ບັດປະຈຳໂຕ</th>
              <th>ເບີໂທ</th>
              <th>ເຂົ້າມາຜ່ານດ່ານ</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in get_customer" :key="index">
              <td><span v-if="item.gender=='m'">ທ້າວ</span><span v-else>ນາງ</span> {{ item.fullname }}</td>
              <td>{{ item.nationality }}</td>
              <td>{{ item.date_of_birth }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.passpord }}</td>
              <td>{{ item.id_card }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.entering_of_border }}</td>
            </tr>
            </tbody>
          </table>
        </v-card-text>

      </v-card>

    </v-container>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  computed: {
    ...mapGetters({
      get_customer: 'customer/GET_CUSTOMER'
    })
  },

  created() {
    this.fetchAllCustomer()

  },
  methods: {
    ...mapActions({
      fetchAllCustomer: 'customer/FETCH_CUSTOMER'
    }),

    onPrint() {
      const newstr = document.getElementById('printInfo').innerHTML
      document.body.innerHTML = newstr
      window.print()
      // Reload the page to refresh the data
      window.location.reload()
    }

  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid #ddd;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>